* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    min-height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(39, 37, 34);
    font-family: 'Yusei Magic', sans-serif;
    position: fixed;
    z-index: 12;
}

.logo{
    text-transform: uppercase;
    color: white;
    letter-spacing: 15px;
}

.link{
    display: flex;
    width: 30%;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

.link a{
    letter-spacing: 5px;
    text-decoration: none;
    color: white;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    height: 3px;
    width: 25px;
    background: white;
    margin: 5px;
}

.top,
.mid,
.bot{
    transition: .5s;
}

.home{
    min-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 7px;
    text-align: end;
    background-image: url(img/bg-img/couch.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.home h1{
    margin-top: 85px;
    font-size: 50px;
    font-family: 'Pangolin', cursive;
}

.home h3{
    font-family: 'Open Sans', sans-serif;
}

.about{
    margin-top: 50px;
    margin-bottom: -50px;
    min-height: 700px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.about .text{
    width: 300px;
    display: flex;
    flex-direction: column;
    
}

.about .text h1{
    padding-bottom: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 5px;
    font-family: 'Roboto', sans-serif;
}

.about .text p{
    text-align: justify;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 28px;
    font-family: sans-serif;
}

.about img{
    max-height: 400px;
}

.gallery{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.gallery .cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.gallery h1{
    text-align: center;
    font-size: 30px;
    letter-spacing: 5px;
    font-family: 'Roboto', sans-serif;
}

.gallery img{
    max-width: 60%;
    padding: 8px;
}

.gallery .card a{
    color: black;
    text-decoration: none;
    font-family: 'Yusei Magic', sans-serif;
    letter-spacing: 3px;
}

.gallery .card p{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.gallery .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px rgba(0,0,0,0.8);
    max-width: 30%;
    padding: 10px;
    margin: 20px;
    transition: all .5s;
}


.gallery .card .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery .card:hover{
    transform: scale(1.1);
    transition: all .7s;
}


footer{
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(39, 37, 34);
    color: white;
    font-family: sans-serif;
}

/* resposive */

/* tablet */
@media only screen and (max-width: 1024px){
    .link{
        width: 45%;
    }
}

/* mobile */
@media only screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }

    .link{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 7vh;
        background: rgb(39, 37, 34);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .link li{
        opacity: 0;
    }

    .burger{
        display: block;
    }

    .home{
        background-position: 25%;
        background-repeat: no-repeat;
    }

    .home h1{
        margin-top: 35%;
        font-size: 40px;
    }

    .home h3{
        font-size: 15px;
    }

    .about img{
        height: 330px;
        margin-top: -120px;
    }

    .gallery{
        text-align: center;
    }

    .gallery .cards{
        flex-direction: column;
        width: 300%;
    }

}


.active{
    transform: translateX(0%);
}

@keyframes navLinksFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .top{
    transform: rotate(-45deg) translate(-5px,6px);
    transition: 0.5s;
}
.toggle .mid{
    opacity: 0;
    transition: 0.5s;
}
.toggle .bot{
    transform: rotate(45deg) translate(-5px,-6px);
    transition: 0.5s;
}